@media screen and (max-width: 468px) {
    /* :root {
        --minW: 468px;

    } */
    * {
        cursor: auto;
    }

    /**
        DEFAULT SETTINGS
    */
    

    body {
        min-width: 275px;
        width: 100%;
        overflow: auto;
        /* overflow-y: hidden; */
        /* overflow-x: auto; */
    }

    .mobile-cursor-pointer {
        cursor: pointer;
    }

    /**
        UP DOWN BUTTONS
    */
    .up-down-btns {
        position: absolute;
        width: 30%;
        display: flex;
        justify-content: space-around;
        right: 0;
        bottom: 0;
        /* display: none; */
    }

    .up, .down {
        cursor: pointer;

    }


    /**
        BACKGROUND WRAPPER
    */
    #background {
        width: 100%;
        /* height: auto; */
        background: url(../assets/background_scenery.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: bottom;
        z-index: 2;
        position: relative;
        overflow: auto;
    }

    /**
        MOUSE WRAPPER
    */
    #mouse-wrapper {
        display: none;
    }

    /**
        MENU
    */
    #menu:hover {
        cursor: pointer;
    }

    #menu-close:hover {
        cursor: pointer;
    }

    /**
        CONTENT CONTAINER
    */
    #content-container-wrapper {
        position: relative;
        border: none;
        box-shadow: none;
        border-radius: 0px;
        width: 100%;
        /* height: 500px; */
        margin: 20px auto;
        background: transparent;
        /* overflow: auto; */
    }

    #content-container {
        width: 100%;
    }

    /**
        CONTENTS IN CONTENT CONTAINER
    */
    #about, #skills, #projects {
        margin: auto;
        /* padding: 20px 0; */
        /* margin: 20px auto 0px auto;
        padding-bottom: 20px; */
    }

    #skills-wrapper p, #project-container-wrapper p, #contact-wrapper p {
        font-size: 16px;
    }

    /**
        ABOUT CONTAINER
    */
    #about-details-one #greet, #about-details-one #inc, #about-details-two p {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        text-shadow: none;
    }


    /**
        SKILLS CONTAINER
    */
    #different-skills {
        max-height: 300px;
        overflow: hidden;
    }

    #different-skills:hover {
        overflow: scroll;
    }

    #skills img {
        width: 70px;
        height: 70px;
    }

    /**
        PROJECTS CONTAINER
    */
    #project-container {
        position: relative;
        overflow: hidden;
        transition: 1s;
    }
    #project-container:hover {
        overflow: scroll;
    }
    #modal {
        /* background-color: white; */
        width: 100%;
        height: 100%;
        /* display: block; */

    }

    /**
        CONTACT CONTAINER
    */
    #email-container, #github-container {
        width: 100%;
        /* display: block; */
    }

    #email p, #github p, #contact-wrapper p {
        font-size: 16px;
    }
}