@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

body {
	font-family: Raleway, sans-serif;
	text-align: center;
	margin: 0;
	padding: 1rem;
/* 	background-color: rgba(10, 12, 18, 1); */
	background-color: rgba(0, 0, 0, 0.299);
	color: white;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

p {
	margin: 0;
	background-color: rgb(10, 12, 18, 0.5)
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.5);
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box {
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	border-radius: 10px;
	inset: 0.35rem;
	padding: 3vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	background-color: rgb(10, 12, 18, 0.5);
	animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

.box:nth-child(2)::before {
    position: absolute;
    border-radius: 20px;
}

.grounded-radiants {
    position: relative;
    border: 4px solid rgba(168, 239, 255, 0.338);
    border-radius: 16px;
    background: linear-gradient(red, violet);
    background-clip: padding-box;
    padding: 10px;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black;
}

.grounded-radiants::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
/*     background: linear-gradient(red, blue); */
/*     background: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%); */
	background: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn);
    content: '';
    z-index: -1;
    border-radius: 16px;
	animation: borderRotate var(--d) linear infinite forwards;
/* 	animation: borderRadial var(--d) linear infinite; */
/* 	animation: borderRadial var(--d) linear infinite; */
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.avatar {
    width: 180px;
    margin: auto;
    position: relative;
    z-index: 0;
}
.avatar::before {
    /* width: 170px; */
    /* height: 100%; */
    content: "";
    position: absolute;
    z-index: 1;
    inset: -10px;
    /* inset: 0; */
    padding: 10px;
    border-radius: 20px;
    background: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
            mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    animation: borderRotate var(--d) linear infinite forwards;
          mask-composite: exclude;
}

.avatar-wrapper {
    width: 100%;
    height: 100%;
    border: 10px solid white;
    border-radius: 10px;
    inset: 100px;
    overflow: hidden;
}

.test{
    /* width: 100%;
    height: 100%; */
    /* border-radius: 20px; */
    margin: auto;
    text-align: center;
    color: black;
    background-color: white;
}

    